body{
	margin: 0;
	padding: 0;
	font-family: serif ;
	background: #7d5fff;
}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #130f40;
	text-align: left;
}
.box h1
{
	color:  white;
	text-transform: uppercase;
	font-weight: 1;
	text-align: center;
}


.box input[type = "text"],.box input[type = "password" ]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: left;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus
{
	width: 280px;
	border-color: #2ecc71;
}
.box input[type = "submit"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: left;
	border: 2px solid #2ecc71;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "date"],.box input[type = "00" ]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: left;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = "text"],.box input[type = "password" ]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: left;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type = "submit"]:hover
{
	background: #2ecc71;
}

.box input[type = "radio"]
{
	border: 0;
	background: none;
	text-align: center;
	width: 75px;
	outline: none;
	color: white;
	transition: 0.25s;
	cursor: pointer;
}

